<!-- Meta tags, CSS links, and other head elements can go here -->
<!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css" href="style.css?cache=77333914184988801948"> -->

<link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro" rel="stylesheet">
<!-- <link rel="stylesheet" href="./static/css/bulma.min.css"> -->
<!-- <link rel="stylesheet" href="./static/css/fontawesome.all.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
<!-- <link rel="stylesheet" href="./static/css/index.css"> -->
<!-- <link rel="icon" href="./static/images/favicon.svg"> -->
<!-- <link rel="stylesheet" href="css/style.css"> Resource style -->
<!-- <script src="js/modernizr.js"></script> Modernizr -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script defer src="./static/js/fontawesome.all.min.js"></script>

<style>
  .rcorners1 {
    border-radius: 10px;
    background: #ffffffd0;
    padding: 5px;
    font-size: 120%;
    color: #5c5c5c;
  }

  .button {
    border-radius: 10px;
    background: #ffffffd0;
    padding: 5px 15px 5px 15px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f9f9f9; */
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 15px 5px 15px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>

<!-- Configure MathJax -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
    },
    svg: {
      fontCache: 'global'
    },
    TeX: {
      equationNumbers: { autoNumber: "all" },
      extensions: ["AMSmath.js", "AMSsymbols.js"]
    }
  };
</script>

<!-- Include MathJax -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> -->
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
