<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <!-- HEAD -->
  {%- include head.html -%}

  <!-- BODY -->
  <body>

    <div class="wrapper">

      <!-- HEADER -->
      <header>
        {% include navigation.html %}
      </header>

      <!-- SECTION -->
      <div class="container">
        <section>
          {{ content }}
        </section>
      </div>

      <!-- FOOTER -->
      <footer>
        {% include footer.html %}
      </footer>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  </body>

</html>
